# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [1]:
import pandas as pd

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [3]:
file_path = '/content/superstore_retail_orders.csv'

df = pd.read_csv(file_path)
print(df)

      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9564  Pennsylvania            NaN      8143  2021-06-13            637
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9564        8143         113      16.0           113          Extension cord
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price total_amount order_year_month order_month
0            $1.99        $5.97          2020-01    January
1           $85.98      $171.96          2019-11   November
2            $3.99       $19.95          2019-09   September
3            $1.99       $15.92          2019-12   December
4            $3.99       $27.93          2019-06       June
...            ...          ...              ...         ...
9564        $15.59      $249.44          2021-06       June
9565       $749.99      $749.99          2021-06       June
9566       $329.99      $329.99          2021-05        May
9567        $15.59       $31.18          2021-04      April
9568        $15.59       $77.95          2021-03      March

[9569 rows x 18 columns]

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [7]:

df['total_amount'] = df['total_amount'].str.replace('$', '').str.replace(',', '').astype(float)

df_clean = df.dropna()

# Identify outliers in 'total_amount' using the IQR method
Q1 = df_clean['total_amount'].quantile(0.25)
Q3 = df_clean['total_amount'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Label rows as 'exception_case' based on 'total_amount' outliers
df_clean['exception_case'] = ((df_clean['total_amount'] < lower_bound) | (df_clean['total_amount'] > upper_bound)).map({True: 'Yes', False: 'No'})

print(df_clean)

      customer_id      customer_name        address_line_1          city  \
0              67      Gordy Matteau   59 Northland Circle    Wilmington
1             201     Cort Paskerful       769 Buell Drive    Huntsville
2              45    Willetta Lumley     41 Ridgeway Alley        Irvine
3             106   Alison Batterton         489 Erie Hill      Richmond
4             357  Martelle Paxeford  451 Manitowish Place      Richmond
...           ...                ...                   ...           ...
9561          240     Barnard Hatley        5541 Kim Alley        Duluth
9565          370    Darby Tesseyman   7468 Jackson Circle        Albany
9566          598   Henka De Ferrari    89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne  9630 Washington Hill     Watertown
9568          482       Matelda Bull    6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9561             GA       30195.0      8140  2021-03-04            240
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9561        8140         110       1.0           110         Apple iPad Mini
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price  total_amount order_year_month order_month exception_case
0            $1.99          5.97          2020-01    January              No
1           $85.98        171.96          2019-11   November              No
2            $3.99         19.95          2019-09   September             No
3            $1.99         15.92          2019-12   December              No
4            $3.99         27.93          2019-06       June              No
...            ...           ...              ...         ...            ...
9561       $329.99        329.99          2021-03      March              No
9565       $749.99        749.99          2021-06       June              No
9566       $329.99        329.99          2021-05        May              No
9567        $15.59         31.18          2021-04      April              No
9568        $15.59         77.95          2021-03      March              No

[8981 rows x 19 columns]

<ipython-input-7-d60d82e5c49a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_amount'] = df['total_amount'].str.replace('$', '').str.replace(',', '').astype(float)
<ipython-input-7-d60d82e5c49a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['exception_case'] = ((df_clean['total_amount'] < lower_bound) | (df_clean['total_amount'] > upper_bound)).map({True: 'Yes', False: 'No'})

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [9]:
#average price
# Convert 'order_date' to datetime
df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])

# Extract year and month from 'order_date'
df_clean['year_month'] = df_clean['order_date'].dt.to_period('M')

# Display the average price per month
average_price_per_month = df_clean.groupby('year_month')['total_amount'].mean().reset_index(name='average_price')
print(average_price_per_month)

   year_month  average_price
0     2019-02     333.953246
1     2019-03     352.787685
2     2019-04     373.534547
3     2019-05     355.372715
4     2019-06     376.469287
5     2019-07     322.063022
6     2019-08     354.600616
7     2019-09     351.974521
8     2019-10     389.991144
9     2019-11     327.683717
10    2019-12     349.855582
11    2020-01     318.572986
12    2020-02     325.116699
13    2020-03     275.390756
14    2020-04     324.991925
15    2020-05     317.188589
16    2020-06     315.064662
17    2020-07     324.183478
18    2020-08     323.237616
19    2020-09     345.142273
20    2020-10     338.677797
21    2020-11     346.379841
22    2020-12     263.795280
23    2021-01     293.924786
24    2021-02     368.730000
25    2021-03     279.360833
26    2021-04     332.131429
27    2021-05     226.770769
28    2021-06     314.285455
29    2021-07     197.840000
30    2021-08     227.448333

<ipython-input-9-83d9c46d8cfa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])
<ipython-input-9-83d9c46d8cfa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['year_month'] = df_clean['order_date'].dt.to_period('M')

In [8]:
#total revenue
total_revenue = df_clean['total_amount'].sum()
print("$", total_revenue)

$ 3089485.19